

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    padding-top: 100px;
    overflow: hidden;
    margin-top: 80px;
    padding-bottom: 200px;
}


.about-section img {
    width: 400px;
    height: 400px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    object-fit: cover;
    position: relative;
}


.about-section-content-1 , .about-section-content-2{
    flex: 1;
}

.about-section-content-1 {
    display: flex;
    flex-direction: column;
    margin-left: 147px;
}

.about-section-content-2 {
    justify-content: end;
    display: flex;
    margin-right: 147px;
}

.shape-1 {
    width:650px;
    height: 650px;
    background-color: var(--cor-secondary);
    border-radius: 50%;
    position: absolute;
    right:-5%;
    top: 0%;
    z-index: -1;
}

.shape-2 {
    position: absolute;
    top: 13%;
    right: 12%;
    width: 400px;
    height: 400px;
    border: solid 2px var(--cor-primary);

    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    z-index: -1;
}


.shape-3 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--cor-primary);
    bottom: 0;
}

.about-section-title {
    font-size: var(--title-size);
    font-weight: bold;
    text-align: center;
    margin-bottom: var(--margin-text);

}

.about-section-subtitle {
    font-size: var(--subtitle-size);
    color: var(--cor-grey-1);
    margin-bottom: var(--margin-text);
    text-align: center;
    font-weight: 300;
    min-width: 650px;
}

.about-section-description {
    font-size: 16px;
    font-weight: 300;
    color: var(--cor-grey-1);
    line-height: 170%;
    max-width: 600px;
    margin: 0 auto;
    
}

.shape-0 {
    width:450px;
    height: 450px;
    background-color: var(--cor-secondary);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 30%;
    left: -17%;
}